<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Books List</h3>

<h4 th:text="${cookie}"></h4>
<h4 th:text="${cookie1.getValue()}"></h4>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Category</th>
    </tr>
    <tr th:each="item:${book}">
        <th th:text="${item.getIdBook()}"></th>
        <th th:text="${item.getName()}"></th>
        <th th:text="${item.category.getName()}"></th>
        <th><a th:href="@{/books/delete/{id}(id=${item.getIdBook()})}">Delete</a> </th>
        <th><a th:href="@{/books/update/{id}(id=${item.getIdBook()})}">Edit</a></th>
    </tr>
</table>
<span>
    <a th:href="@{/books/create}">Create new book</a>
</span>
<span>
    <a th:href="@{/category}">Category</a>
</span>
</body>
</html>